body {
    background-color : rosybrown;
  }
  
 
  
  p {
    color: black;
    font-size: 100px;
    text-align: center;
    font-weight: bold;
    
  }
 
  img {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    margin-bottom:25px;     
  }
  
  h1 {
    font-size: 100px;
    text-align: center;
    font-weight: bold;
  }
  ul { 
  list-style-type: square;
  background:darkred ;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  
  }
  ul li {
    background:#ffe5e5;
    margin: 5px;
    font-size: 20px;
    
  }
  ol {
    background:darkred;
    padding: 20px;
    counter-reset: 1;
    list-style-type: upper-alpha;
    margin-top: 20px;
  }
  ol li {
    
    background: #ffe5e5;
    margin: 5px;
    text-align: center;
    counter-increment: 1;
    font-size: 20;
  }  
  
 img {
   margin-top: 20px;
 }
  
  