body {
    background-color : darkviolet;
  }
  
 
  
  p {
    color: black;
    font-size: 40px;
    text-align: center;
  }
 
  img {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    margin-bottom:25px;     
  }
  
  h1 {
    font-size: 120px;
    text-align: center;
  }
  ul { 
  list-style-type: square;
  background: #3399ff;
  padding: 20px;
  text-align: center;
  
  }
  ul li {
    background: #cce5ff;
    margin: 5px;
  }
  ol {
    background: #ff9999;
    padding: 20px;
    counter-reset: 1;
  }
  ol li {
    
    background: #ffe5e5;
    padding: 5px;
    text-align: center;
    counter-increment: 1;
  }  
  
 
  
  